.ysink_code_wrapper
    padding: .5rem
    border-radius: 0 !important

    .ysink_code_lang
        display: inline

    code
        background: none
        border: none
        font-family: var(--font-code)
        padding: 0 !important
        border-radius: 0 !important

    button
        color: var(--text-normal)
        background: var(--background-secondary)
        font-size: .9rem
        padding: .1rem .5rem
        border-radius: .25rem

    .ysink_code_row
        border-bottom: 1px solid var(--text-muted)
        display: flex
        padding: .25rem 0
        margin-bottom: .25rem

        &> :first-child
          flex: 1

// intended to be overridden by highlight.js themes - they will be injected after this stylesheet!
.hljs
    background: var(--background-secondary)

.ysink_code_head
    margin-top: .5rem
    margin-bottom: .25rem
