.ysink_cuminside {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    font-style: italic;
}

.ysink_card_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .75rem;
}

.ysink_card {
    padding: 1rem;
    border: 1px solid var(--background-modifier-accent);
    border-radius: 0.25rem;
}

.ysink_card .ysink_title {
    font-size: 1rem;
    padding-bottom: 0.25rem;
    display: inline;
    flex: 1;
    margin: 0;
}

.ysink_card .ysink_button { display: inline; }

.ysink_card .ysink_row { display: flex; }

.ysink_card .ysink_divide { margin: .2rem 0; }

/* no, it's not a typo, its British English. */
.ysink_card .ysink_author_licence { font-style: italic; }

/* fix some phat (tall) fonts like Noto having their ass cut off in buttons! */
.ysink_card button { padding: 0; }
.ysink_card button > div { padding: 2px 16px; }

.ysink_header { display: flex; }
.ysink_header > * { flex: 1; }
.ysink_header > :last-child { flex: unset; }

.ysink_card .ysink_row > * { flex: 1; }
.ysink_card .ysink_row > :last-child { flex: unset; }

.ysink_modal .ysink_row { display: flex; }
.ysink_modal .ysink_row > * { flex: 1; }
.ysink_modal .ysink_row > :last-child {
    flex: unset;
    margin-left: 1rem;
}

.ysink_modal .ysink_divide { margin: .5rem 0; }

.ysink_splash {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    flex-flow: column nowrap;
}

/* hardcoded values like this aren't ideal, but theres halfway */
.ysink_modal .ysink_splash { margin-top: 6rem; }

.ysink_splash .ysink_button { margin-top: 1rem; }

.ysink_badge {
    display: inline;
    margin-left: .5rem;
}

.ysink_ticker_fillscreen {
    position: fixed;
    left: 0;
    top: 1rem;
    width: 100vw;
    height: 100vh;
    opacity: 0.1;
    pointer-events: none;
}

.ysink_card {
    z-index: 1;
    background-color: var(--background-accent);
}