.ysink_zone_ticker
	margin-top: .2rem

	marquee
	font-size: 1.2rem
	padding-bottom: 1rem
	font-style: italic

// cards
.ysink_zone_card
	padding: 1rem
	border: 1px solid var(--background-modifier-accent)
	border-radius: 0.25rem
	display: flex
	flex-direction: column
	z-index: 1
	background-color: var(--deprecated-card-bg)

	&.ysink_zone_repocard
		margin-bottom: .5rem

	.ysink_zone_title
		font-size: 1rem
		padding-bottom: 0.25rem
		display: inline
		flex: 1
		margin: 0

	.ysink_zone_button
		display: inline
		padding: 0
		& > div
			padding: 2px 16px

	.ysink_zone_row
		display: flex
		& > *
			flex: 1
		& > :last-child
			flex: unset

	.ysink_zone_author_licence
		font-style: italic

	.ysink_zone_desc
		flex: 1

// Modals
.ysink_zone_modal .ysink_zone_row
	display: flex
	& > *
		flex: 1
	& > :last-child
		flex: unset
		margin-left: 1rem

// Misc UI components
.ysink_zone_divide
	margin: 0 0 1rem 0
	.ysink_zone_modal &

		margin: .5rem 0

	.ysink_zone_card &
		margin: .2rem 0

.ysink_zone_header
	display: flex
	& > *
		flex: 1
	& > :last-child
		flex: unset

.ysink_zone_splash
	display: flex
	justify-content: center
	align-items: center
	margin-top: 10rem
	flex-flow: column nowrap

	.ysink_zone_button
		margin-top: 1rem

		.ysink_zone_modal &
			margin-top: 6rem

.ysink_zone_badge
	display: inline
	margin-left: .5rem

.ysink_zone_card_container
	display: grid
	grid-template-columns: 1fr 1fr
	gap: .75rem

	.ysink_zone_card button
		margin-bottom: .2rem
		width: 6rem

.ysink_zone_searchbox
	margin-bottom: 1rem
