.translation-option-engine-card {
  .powercord-product-header-with-icon {
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    .powercord-product-header {
      width: 100%;
      margin-bottom: 0;
    }
    .translation-option-engine-card-icon {
      width: 40px;
      margin-right: 20px;
    }
  }
  .translation-option-engine-card-settings {
    .close-button {
      display: flex;
      flex-direction: column;

      > div {
        width: 24px;
        float: right;
        align-self: flex-end;
        margin: 5px;
      }
    }
  }
  .downloadArrow-freezed {
    opacity: 0.5;
  }
  .powercord-product-details {
    .metadata {
      display: none;
    }
  }
}

.translation-option-call-arrow {
  display: flex;
  align-items: center;

  span {
    padding: 5px;
  }
  svg {
    pointer-events: none;
  }
}
