.ysink_palette_modal {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    background: none !important;
}

.ysink_palette_palette {
    width: 50rem;
    background-color: var(--background-secondary);
    color: white;
    padding: .75rem 0;
    border-radius: 0;
    overflow: unset !important;
}

.ysink_palette_item {
    padding: .25rem;
}

.ysink_palette_item.ysink_palette_selected {
    background-color: #00000055;
}