.ysink_stain_tabbar
    padding: .5rem 1rem
    display: grid
    grid-auto-flow: column
    grid-auto-columns: 7rem

    .ysink_stain_button *
        cursor: pointer

    &> *
        margin-right: 1rem
        padding: .2rem
        border-radius: .3rem
        min-width: 5rem
        text-align: center

        background: none

        &.ysink_stain_selected
            .theme-dark &
                background: #fff4
            .theme-light &
                background: #0003

        &:last-child
            margin-right: 0

.ysink_stain_cardcontainer
    display: grid
    grid-template-columns: 1fr 1fr
    gap: .75rem

.ysink_stain_card
    padding: 1rem
    border: 1px solid var(--background-modifier-accent)
    border-radius: 0.5rem
    display: flex
    flex-direction: column
    z-index: 1
    background-color: var(--deprecated-card-bg)

    .ysink_stain_title
        font-size: 1rem
        padding-top: .2rem
        display: inline
        flex: 1
        margin: 0

    .ysink_stain_button
        display: inline
        padding: 0
        & > div
            padding: 2px 16px

    .ysink_stain_row
        display: flex
        margin-bottom: .5rem

    .ysink_stain_author_licence
        font-style: italic

    .ysink_stain_desc
        flex: 1

    .ysink_stain_img
        height: 13rem
        background-repeat: no-repeat
        background-size: cover
        background-position: center
        margin: -1rem
        margin-bottom: 1rem
        border-radius: 0.5rem 0.5rem 0 0

        div
            font-size: 1.5rem
            text-align: center
            padding-top: calc((13rem / 2) - (1em / 2))
            text-transform: uppercase
            opacity: 0.8 // kinda hacky but oh well

.ysink_stain_divide
    margin: 0 0 1rem 0
    //.ysink_zone_modal &
    //    margin: .5rem 0
    .ysink_stain_card &
        margin: .2rem 0

.ysink_stain_delete
    margin-right: .5rem
    fill: var(--interactive-normal)

.ysink_stain_installbar
    display: flex
    &> *
        flex: 1

    &> :last-child
        flex: unset
        margin-left: 1rem

.ysink_stain_searchbar
    margin: .75rem 0

.ysink_stain_search_row
    display: flex
    gap: .75rem
    margin: .75rem 0

    .ysink_stain_dropdown
        height: 2.25rem
        flex-basis: 10rem
        padding-top: .3rem

    .ysink_stain_searchbar
        margin: unset
        flex: 1

.ysink_stain_editorroot
    background: tranparent
    color: #c5c8c6

    font-family: var(--font-code)
    font-size: .9rem
    line-height: 1.1rem

.ysink_stain_badge
    width: 1.5rem
    height: 1.5rem
    margin-right: .5rem
    border-radius: 50%

    &.ysink_stain_bd
        padding: .25rem
        background: #040405

    &.ysink_stain_cc
        padding: .1rem
        background: #f8f8f8
        background: #7289DA
